@define-color black        #080808;
@define-color dark-black   #0e0e0e;

@define-color dark-red     #3a0a0a;
@define-color red         #7a1111;
@define-color bright-red  #d62828;
@define-color neon-red    #ff2a2a;

@define-color fg          #ffdddd;
