/* ===============================
   DARK RED WAYBAR THEME
   (NO COLOR VARIABLES)
   =============================== */

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "GeistMonoNerd Nerd Font Propo", "sans-serif";
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

/* ===============================
   TOOLTIPS
   =============================== */
tooltip {
    background: #070707;
    border: 2px solid #a4161a;
    border-radius: 12px;
}

tooltip label {
    color: #7f1d1d;
    padding: 6px;
}

/* ===============================
   WORKSPACES
   =============================== */
#workspaces {
    background-color: #070707;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;

    background-color: #2a0606;
    color: #7f1d1d;

    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: #a4161a;
    color: #2b0505;
    min-width: 50px;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: #5c0d0d;
    color: #7f1d1d;
    border-radius: 16px;
    min-width: 50px;
}

#workspaces button.urgent {
    background-color: #d62828;
    color: #2b0505;
    border-radius: 16px;
    min-width: 50px;
    animation: pulse 1.2s infinite ease-in-out;
}

/* ===============================
   MODULES
   =============================== */
#user,
#temperature,
#cpu,
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: #070707;
    padding: 0 15px;
    margin: 0 5px;
    border-radius: 50px;
    color: #7f1d1d;
}

#clock {
    margin: 0 5px 0 10px;
}

#custom-notification {
    margin: 0 10px 0 5px;
}

/* ===============================
   URGENT ANIMATION
   =============================== */
@keyframes pulse {
    0% {
        background-color: #a4161a;
    }
    50% {
        background-color: #d62828;
    }
    100% {
        background-color: #a4161a;
    }
}
